@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


 /* Fondo artístico de acuarela */
 body {
  font-family:'Segoe UI', sans-serif;
  margin: auto;
  overflow-x: hidden;
  color: rgb(18, 1, 41);
  background: linear-gradient(to right, #75270545, #ff80001e,#8833c430, #47166e36);
}

/* Botones personalizados */
.btn {
  font-family:'Trebuchet MS', sans-serif;
  background:  linear-gradient(90deg, #f99f6f, #ff5887);
  color: white;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-size: 0.9rem;
}

.btn:hover {
  background-color: rgb(255, 87, 34);
  color: white;
}

.gradient-text { 
  font-family: 'Helvetica', sans ;
  background-clip: text;
  font-weight: bold; 
  background: linear-gradient(to right, #3c03f9, #ff4b0f); 
  -webkit-background-clip: text; 
  color: transparent; 
}


@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  }
}


.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.title{
  font-family: Georgia, serif;
}

.colorTitle{
  color: rgb(59, 0, 59);
}