@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


 /* Fondo artístico de acuarela */
 body {
  font-family: 'Poppins', sans-serif;
  margin: auto;
  overflow-x: hidden;
  background: linear-gradient(to right, #75270545, #ff80001e,#8833c430, #47166e36);
}

/* Botones personalizados */
.btn {
  background-color: rgba(247, 246, 246, 0.806);
  border: 2px solid #ff56229b;
  color: #fe3b00;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-size: 0.9rem;
}

.btn:hover {
  background-color: rgb(255, 87, 34);
  color: white;
}

.gradient-text { 
  font-family: 'Helvetica', serif ;
  background-clip: text;
  font-weight: bold; 
  background: linear-gradient(to right, #3c03f9, #ff4000); 
  -webkit-background-clip: text; 
  color: transparent; 
}


@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  }
}


.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
